.background{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
}

.title1{
    position: absolute;
    width: 540px;
    left: 252px;
    top: 19.53%;
    bottom: 73.63%;
    
    /* 60PX/H2/Bold */
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    /* identical to box height, or 117% */
    
    letter-spacing: -1.34px;
    
    color: #3D3D3D;
}

.form{
    position: absolute;
    width: 506px;
    left: 252px;
    top: 31.64%;
    bottom: 19.73%;
    border-style:solid;
    border-color:white;
    border-width:3px;
    font-family: Inter;
}

input[type=text]{
    width:100%;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;

    /* Black */

    border: 2px solid #3D3D3D;
}
  input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }

  .contents_form{
    left: 0%;
    right: 0.4%;
    top: 32.13%;
    bottom: 25.7%;

    /* Black */

    border: 2px solid #3D3D3D;
    box-sizing: border-box;
    border-radius: 3px;
    width:100%;
    height:50%;
    overflow: hidden;
    font-family: Inter;
    padding:8px;

  }

  .send{
    display: flex;
    flex-direction: row;
    padding: 9px 209px;
    align-content:center;
    width: auto;
    left: 0px;
    top: 75.9%;
    bottom: 11.24%;
    
    /* Primary */
    
    background: #FF7171;
  }
  .send_font{
    position: static;
    height: 46px;
    left: 41.47%;
    right: 41.47%;
    top: calc(50% - 46px/2);
    
    /* Btn/64PX */
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
    /* identical to box height, or 144% */
    
    text-align: center;
    letter-spacing: -0.68px;
    
    /* White */
    
    color: #FFFFFF;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
  }
  .check_box{
    width: 32px;
    height: 32px;
    left: 0px;
    top: calc(50% - 32px/2 + 233px);
    border-radius:100%;
    align-content: center;
  }
  .form2{
    position:absolute;
    left: 59.58%;
    right: 17.43%;
    top: 31.64%;
    bottom: 24.22%;
  }
  .contact1{
    position: absolute;
    left: 1.21%;
    right: 0%;
    top: 0%;
    bottom: 76.99%;
  }
  .contact2{
    position: absolute;
    left: 1.21%;
    right: 0%;
    top: 28.32%;
    bottom: 57.08%;
    
  }
  .contact3{
    position: absolute;
    left: 1.21%;
    right: 0%;
    top: 48.23%;
    bottom: 37.17%;
  }
  .contact1 .contact_title{

    position: absolute;
    height: 24px;
    left: 0%;
    right: 80.12%;
    top: calc(50% - 24px/2 - 40px);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: -0.09px;

    color: #989898;
  }
  .contact1 .contact_content{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 26.92%;
    bottom: 0%;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    /* identical to box height, or 158% */

    letter-spacing: -0.47px;

    color: #3D3D3D;
  }

  .contact2 .contact_title{

    position: absolute;
    height: 24px;
    left: 0%;
    right: 85.02%;
    top: calc(50% - 24px/2 - 21px);

    /* 14PX/Caption/Regular */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: -0.09px;

    color: #989898;
  }
  .contact2 .contact_content{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 42.42%;
    bottom: 0%;

    /* 24PX/H5/Regular */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    /* identical to box height, or 158% */

    letter-spacing: -0.47px;

    color: #3D3D3D;
  }

  .contact3 .contact_title{

    position: absolute;
    height: 24px;
    left: 0%;
    right: 63.61%;
    top: calc(50% - 24px/2 - 21px);

    /* 14PX/Caption/Regular */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: -0.09px;

    color: #989898;
  }
  .contact3 .contact_content{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 42.42%;
    bottom: 0%;

    /* 24PX/H5/Regular */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    /* identical to box height, or 158% */

    letter-spacing: -0.47px;

    color: #3D3D3D;
  }
  .email{
    position: absolute;
    left: 0%;
    right: 1.21%;
    top: 68.14%;
    bottom: 22.12%;
    
    /* 30PX/H4/Bold */
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    /* identical to box height, or 147% */
    
    letter-spacing: -0.64px;
    
    color: #FF7171;
    
  }
  .form3{
    position: absolute;
    width: 240px;
    height: 48px;
    left: 0px;
    top: calc(50% - 48px/2 + 202px);
    border: 2px solid black;
  }
  .badge1{
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(50% - 48px/2 - 96px);
    top: calc(50% - 48px/2);
    
    /* Black */
    
    border: 2px solid #3D3D3D;
    box-sizing: border-box;
    border-radius: 73px;
  }
  .badge2{
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(50% - 48px/2);
    top: calc(50% - 48px/2);
    
    /* Black */
    
    border: 2px solid #3D3D3D;
    box-sizing: border-box;
    border-radius: 73px;
  }
  .badge3{
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(50% - 48px/2 + 96px);
    top: calc(50% - 48px/2);
    
    /* Black */
    
    border: 2px solid #3D3D3D;
    box-sizing: border-box;
    border-radius: 73px;
  }